* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    /* footer config */
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* space for footer */
    background-color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    color: rgb(26, 125, 224);
}

a:active {
    color: rgb(13, 63, 114);
}

header {
    text-align: center;
    background-color: rgb(8, 8, 8);
    padding: 10px 0px;
}

header h1 {
    font-size: 2.5em;
    text-shadow: 0 0 6px grey;
}

h1 a {
    transition: text-shadow, 0.2s;
}

h1 a:hover {
    text-shadow: 0 0 12px white;
}

h1 a:active {
    color: #202020;
}

strong {
    color: lightgray;
}

nav {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: rgba(16, 16, 16, 0.85);
    list-style: none;
    z-index: 10;
}

nav a, header a {
    text-decoration: none;
    color: white;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

nav a:hover {
    background-color: rgba(64, 64, 64, 0.8);
}


nav a:active {
    transition: 0s;
    background-color: white;
    color: black;
}

@keyframes dropdown-open {
    0% {
        visibility: hidden;
    }
    25% {
        opacity: 0;
        visibility: hidden; 
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes dropdown-open-arrow {
    0% {

    }
    25% {

    }
    100% {
        
    }
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown>a {
    padding-right: 35px;
}

.dropdown>a::after {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    right: 17px;
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: transform 0.4s;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(16, 16, 16, 0.85);
    transform-origin: top center;
    z-index: 1;
    animation: dropdown-open 0.6s;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Arrow animation */
.dropdown:hover>a::after {
    transform: scaleY(-1);
}

/* Hide after clicking dropdown button */
.dropdown a:active + .dropdown-content {
    display: none;
}

section {
    background-color: rgba(8, 8, 8, 0.9);
    border-radius: 4px;
    max-width: 1000px;
    padding: 25px;
    margin: 10px auto;
}

section a {
    color: dodgerblue;
    text-decoration: underline;
    transition: color 0.2s;
}

section a:active {
    color: darkblue;
    transition: 0s;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    font-size: 1.75em;
}

/* divider */
section h1::after, h2::after {
    content: "";
    display: block;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
    width: 100%;
    height: 2px;
    margin: 10px 0 20px;
}

@keyframes profile-intro {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile {
    text-align: center;
}

.profile-image {
    border: 2px ridge rgb(32, 32, 32);
    border-radius: 10px;
    
    animation: profile-intro 1s;
    animation-fill-mode: both;
}

.social-links {
    animation: profile-intro 2s;
    animation-fill-mode: both;
}

.social-icon {
    display: inline-block;
    margin: 4px 8px 0px;

    transition: opacity 0.1s;
}

.social-icon img {
    box-sizing: content-box;
    padding: 8px;
}

.social-icon:hover {
    opacity: 0.5;
}

#about p {
    padding: 20px;
    line-height: 1.5;
}

@media screen and (min-width: 600px) {
    .profile {
        margin: 10px 20px 0px;
        float: left;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@keyframes project-intro {
    from {
        opacity: 0;
        top: 50px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

.project-container {
    display: inline-block;
    position: relative;

    margin: 10px;
    width: calc(100% - 20px);

    border: 2px ridge rgb(32, 32, 32);

    animation: project-intro 1s;
    animation-fill-mode: both;

    transition: background-size 0.5s;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 720px) {
    .project-container {
        width: calc(50% - 20px);
    }
}

.project-content {
    display: block;
    padding: 30px 20px;
    background-image: linear-gradient(to right, black, transparent);
    text-decoration: none;
    color: white;
    line-height: 1.8em;
}

.project-content:active {
    color: white;
}

.project-container:hover {
    background-size: 125%;
}

.maintain-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
}

.maintain-ratio * {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.screenshot-container {
    text-align: center;
}

.screenshot {
    display: inline-block;
    margin: 10px;
    margin-bottom: 0px;
    width: calc(100% - 20px);
    height: auto;
    border: 1px solid rgb(48, 48, 48);
}

@media screen and (min-width: 480px) {
    .screenshot {
        width: calc(50% - 20px);
    }
}

@media screen and (min-width: 720px) {
    .screenshot {
        width: calc(33.33% - 20px);
    }
}

h3 {
    margin: 40px 0 20px;
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgb(20, 20, 20)
}

td:nth-child(1) {
    font-weight: bold;
    text-align: right;
}

.contributions {
    text-align: center;
    border: 1px solid rgb(48, 48, 48);
    border-style: solid none;
}

ul {
    display: inline-block;
    margin: 10px;
    padding-left: 20px; /* bullets */
    text-align: left;
    line-height: 2em;
    font-size: 1.1em;
}

.center {
    text-align: center;
    text-indent: 0;
}

iframe {
    width: 100%;
    border: none;
}

.google-play {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 20px;
    text-align: center;
    background-color: rgb(8, 8, 8);

    font-size: 10pt;
    color: rgb(96, 96, 96);
}

.explosion-hint {
    display: none;
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 8pt;
    color: rgb(32, 32, 32);
}

@media screen and (min-width: 1000px) {
    .explosion-hint {
        display: block;
    }
}


/* 404 */
.centered {
    position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.centered h1 {
    font-size: 8em;
	color: grey;
	text-shadow: 6px 6px 4px rgba(0, 0, 0, .5);
}

.pad-below {
    padding-bottom: 25px;
}
.pad-above {
    padding-top: 15px;
}