* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(32, 32, 32);
    font-family: roboto;
    color: white;
}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px 0px;
}

nav {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: rgba(16, 16, 16, 0.8);
    list-style: none;
    z-index: 10;
}

nav a, header a {
    text-decoration: none;
    color: white;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

nav a:hover {
    background-color: rgba(64, 64, 64, 0.8);
}

nav a:active {
    transition: 0s;
    background-color: white;
    color: black;
}

section {
    background-color: rgba(0, 0, 0, .6);
    max-width: 1000px;
    padding: 25px;
    margin: auto;
    margin-top: 10px
}

section a {
    color: dodgerblue;
    text-decoration: underline;
    transition: color 0.2s;
}

section a:active {
    color: darkblue;
    transition: 0s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

@keyframes project-intro {
    from {
        opacity: 0;
        top: 50px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

.project-container {
    display: inline-block;
    position: relative;
    width: 50%;
    animation: project-intro 1s;
    animation-fill-mode: both;
}

.project-container div {
    margin: 10px;
    padding: 20px;
    background-color: rgb(32, 32, 32);
}

iframe {
    max-width: 100%;
}

@media screen and (max-width: 720px) {
    .project-container {
        width: 100%;
    }
}